.btn {
  width: 100%;
  display: inline-block;
  background-color: #e8eaec;
  border: none;
  box-shadow: 5px 5px 15px 0px rgba(13, 39, 80, 0.16), -5px -5px 15px 0px #fff;
  border-radius: 10px;
  padding: 10px 20px;
  color: grey;
  font-size: 18px;
}

.btn:hover {
  box-shadow: -5px -5px 15px 0px rgba(255, 255, 255, 0.64) inset,
    5px 5px 5px 0px rgba(13, 39, 80, 0.15) inset;
}

.formField {
  width: 100%;
  background-color: #e8eaec;
  border: none;
  box-shadow: -5px -5px 15px 0px rgba(255, 255, 255, 0.64) inset,
    5px 5px 5px 0px rgba(13, 39, 80, 0.15) inset;
  border-radius: 10px;
  padding: 10px 20px;
  color: grey;
  font-size: 18px;
  box-sizing: border-box;
}

.formField:focus {
  outline: lightgrey solid 1px;
}
.formLabel {
  color: grey;
  font-size: 14px;
}

.formContainer {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 30px;
}

.formFieldWrap {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.error {
  color: rgb(201, 87, 106);
}
